* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 550px;
    margin: 0 auto;
    font-family: inter, sans-serif;
}

ul {
    list-style: none;
}

#container1 {
    background: #6943FF;
    height: 285px;
    text-align: center;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#container1 h1 {
    font-size: 28px;
    margin-bottom: 20px;
}

#container2 {
    height: 444px;
    background: #1F2937;
    color: #CCC1FF;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.unit {
    width: 500px;
    height: 108px;
    background: #273549;
    margin: 0px auto;
    padding: 20px 20px;
    margin-bottom: 10px;
}

.unit p {
    font-size: 20px;
    margin-bottom: 10px;
}

#conValue {
    text-align: center;
    width: 117px; 
    height: 83px;
    border: 1px solid #fff;
    color: white;
    background: #6943FF;
    border-radius: 5px;;
    margin-bottom: 20px;
    font-size: 50px
}

#conValue::placeholder {
    color: #fff;
}

#convertBtn {
    width: 117px;
    height: 40px;
    font-size: 21px;;
    border-radius: 5px;
    background: #fff;
    color: black;
    border: none;
    font-weight: 200;
    cursor: pointer;
}

.converted {
    color: white;
}

#conValue::-webkit-outer-spin-button,
#conValue::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}